@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Sour+Gummy:ital@0;1&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Bitcount Prop Single', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(178deg,rgba(18, 17, 18, 1) 0%, rgba(14, 14, 20, 1) 35%, rgba(11, 18, 36, 1) 100%);
      --font-principal: 'Sour Gummy', sans-serif;
      --font-segundaria: 'Bitcount Prop Single', sans-serif;
    --foreground: #f0f0f0;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-principal);
}
